/* General Styles */
body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f7f7f7;
  margin: 0;
  padding: 20px;
}

h2,
h3 {
  color: #444;
  margin-bottom: 10px;
}

h2.title,
h3.project-title {
  text-decoration: underline;
  text-decoration-color: #444;
}

/* Section Styles */
section {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Project Info Styles */
.project-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.project-photo {
  width: 50%;
  padding-right: 10px;
}

.project-photo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
  padding-left: 10px;
}

/* Link Styles */
a {
  color: #1e90ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .project-info {
    flex-direction: column;
  }

  .project-photo,
  .project-details {
    width: 100%;
    padding: 0;
  }
}
